/* Styles go here */

.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
  max-width: 90%;
}

.twPc-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #5c6266;
  border-radius: 5px 5px 0 0;
  height: 95px;
  width: 100%;
}

.twPc-block {
  display: block !important;
}

.twPc-button {
  padding-top: 10px;
  margin: -35px -10px 0 -50px;
  text-align: right;
  width: 100%;
}

.img-circle {}

.profileImg {
  padding-top: -40px;
}

.twPc-avatarLink {
  float: left;
  margin: -80px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}

.img-circle {
  border-radius: 50%;
  border: 6px solid #151377;
}

.twPc-avatarImg {}

.twPc-divUser {
  margin-top:-80px;
  margin-right:20px;
  margin-bottom:0px;
  margin-left:-50px;
}
.emailPosition{
	margin-top:20px;
	margin-right:5px;
}

.twPc-divName {
  margin-top:-10px;
  margin-right:40px;
  margin-bottom:0px;
  margin-left:20%;  
  font-size: 50px;
  font-weight: 200;
  line-height: 21px;
  color:white;
}

.twPc-divName a {
  color: white;
}

.majornYear{
	font-size: 20px;
	 margin-left:21%;
	 margin-top:-5px;
	color:white;
}

.intro{
margin-top:10px;
 margin-left:21%;
 font-size: 15px;
}

.twPc-divStats {
  margin-top:-20px;
  margin-left: 195px;
  padding: 10px 0;
}

.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 7px;
  vertical-align: top;
}

.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}

.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}